.mobile {
  display: none;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura", sans-serif;
  font-size: 20px;
  line-height: 1;
  color: var(--black);
}

/*Colours*/
:root {
  --primary-red: #e12030;
  --secondary-red: #be1a2f;
  --white: #ffffff;
  --off-white: #e6e6e6;
  --black: #000000;
  --off-black: #1a1a1a;
  --primary-blue: #4269e1;
  --secondary-blue: #0d49b3;
  --terciary-blue: #07065d;
}

@font-face {
  font-family: "Futura";
  src: url("/futura/Futura Book font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Buttons */

button {
  background-color: transparent;
  border: 2.5pt solid;
  padding: 30pt 20pt;
  cursor: pointer;
  border-radius: 0 0 0 20px;
  transition: background-color 0.3s ease;
  width: 349px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: white;
  color: var(--primary-red);
}

.buttons,
.button-list {
  display: flex;
  flex-direction: column;
  gap: 2.37vh;
  align-items: center;
}

.button-text {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 23pt;
  text-align: center;
}

/* General text styles */

.paragraph {
  padding: 0 2.7vh;
  font-size: 15pt;
  line-height: 1;
}

/* Separators */

.b-100 {
  height: 1vh;
}

.b-1000 {
  height: 10vh;
}

/* Bottom legals text box*/

.bottom-legals {
  color: var(--off-white);
  width: 100%;
  background-color: var(--off-black);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.legal-img-cont {
  justify-content: center;
  align-items: center;
  height: 21vh;
  padding: 30px 20px;
}

.legal-img-cont img {
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.centered-image {
  width: 90%;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-red: #ff6b6b;
    --secondary-red: #ff4757;
    --white: #2f3542;
    --off-white: #57606f;
    --black: #ffffff;
    --off-black: #1e272e;
    --secondary-blue: #1e90ff;
  }
  body {
    background-color: var(--off-black);
    color: var(--black);
  }
  button {
    border-color: var(--white);
  }
  button:hover {
    background-color: var(--white);
    color: var(--primary-red);
  }
  .bottom-legals {
    background-color: var(--white);
  }
}
