/* para m칩vil y para escritorio, paddings, fuentes, tama침os de letra, clases de <div>, colores establecidos, colores de fondo */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Futura", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
}

/*colores*/
:root {
  --primary-color: #e12030;
  --secondary-color: #ffffff;
  --text-color: #000000;
  --background-color: #ffffff;
}

/*letra*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.title {
  font-size: 2.5rem;
}
.subtitle {
  font-size: 2rem;
}

.text {
  font-family: "Barlow", sans-serif; /* Aplicamos la fuente Barlow */
  font-size: 3.5rem; /* Tama침o del texto */
  margin: 0; /* Elimina el margen alrededor del texto */
  padding: 0; /* Elimina cualquier padding adicional */
}

@font-face {
  font-family: "Futura";
  src: url("/public/futura/Futura\ Book\ font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 16px;
  color: var(--text-color);
}

/*<div>*/
.div-padding-small {
  padding: 10px;
}

.div-padding-medium {
  padding: 20px;
}

.div-padding-large {
  padding: 40px;
}

/*padding*/
.padding-small {
  padding: 8px;
}

.padding-medium {
  padding: 16px;
}

.padding-large {
  padding: 24px;
}

/*movil*/
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }

  .div-padding-medium {
    padding: 15px;
  }

  .div-padding-large {
    padding: 30px;
  }
}

/*escritorio*/
@media (min-width: 769px) {
  html {
    font-size: 16px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/*utilititis*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
.background {
  display: flex;
  flex-direction: column;
  background-color: #e12030;
  padding: 20px;
  color: #e6e6e6;
  width: 393px; /* Adjust width */
  height: 540px; /* Adjust height */
}

/*Global font Futura*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
  font-family: "Futura", sans-serif;
}

/*red background*/
.bg-red {
  background-color: #e12030;
  color: white;
}

/*black background*/
.bg-black {
  background-color: #000000;
  color: white;
}

/*white background*/
.bg-white {
  background-color: #ffffff;
  color: #000000;
}

.borderblack button {
  border: 2px solid black; /* Borde negro para el bot칩n */
  color: rgb(0, 0, 0); /* Texto en blanco */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px 0 15px;
}
