.container {
  position: relative;
  width: 100%;
  height: 44.2vh;
  border-radius: 20px 0 20px 20px;
}

.background-image {
  width: 100%;
  height: 79%;
  object-fit: cover;
  border-radius: inherit;
}

.text-overlay {
  position: absolute;
  top: 22vh;
  left: 0;
  color: var(--black);
  background-color: var(--white);
  padding: 20px;
  width: 269px;
  border-radius: 20px 0 0 20px;
}

/* Títulos compartidos */
.smallTitle,
.bigTitle,
.container-no-img h1,
.container-no-img h2 {
  font-family: "Barlow", sans-serif;
}

.smallTitle,
.container-no-img h2 {
  font-weight: normal;
  font-size: 30px;
  color: var(--black);
}

.bigTitle,
.container-no-img h1 {
  font-size: 46px;
  color: var(--primary-red);
  font-weight: 900;
}

/* Estilos para el segundo componente */
.container-no-img {
  display: flex;
  flex-direction: column;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  .text-overlay {
    color: var(--black);
    background-color: var(--off-black);
  }

  .smallTitle,
  .container-no-img h2 {
    color: var(--black);
  }

  .bigTitle,
  .container-no-img h1 {
    color: var(--primary-red);
  }
}
