/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

/* Contenedor del menú */
.dropdown-link-container {
  width: 100%;
  padding: 10px;
  border-right: 1px solid #ddd;
  margin: 0 auto;
}

/* Estilo para los títulos de los dropdowns */
.dropdown-parent {
  position: relative;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
  margin-bottom: 35px;
  transition:
    background-color 0.6s ease-in-out,
    color 0.6s ease-in-out,
    transform 0.3s ease;
  /* Cambiar el ancho para que coincida con la línea debajo */
  display: block; /* Cambiar a block para que ocupe todo el ancho */
  width: 200px; /* Mantener el mismo ancho que la línea */
}

/* Línea debajo del texto */
.dropdown-parent:after {
  content: "";
  display: block;
  width: 200px; /* Mantener el mismo ancho */
  height: 1px;
  background-color: black;
  position: absolute;
  left: 0;
  margin-top: 20px; /* La línea estará 20px debajo del texto */
}

/* Animación al expandirse */
.dropdown-parent.active {
  transform: translateY(-20px);
}

/* Estilo del último dropdown - sin línea */
.dropdown-parent:last-child:after {
  display: none; /* No mostrar la línea en el último elemento */
}

/* Estilo para los dropdowns hijos */
.dropdown-child {
  font-size: 18px;
  margin-left: 10px;
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
  box-sizing: border-box;
  font-family: "Futura", sans-serif;
  line-height: 50px;
}

/* Cuando el dropdown está visible */
.dropdown-child.show {
  max-height: 500px;
  opacity: 1;
}

/* Estilo del ícono de cerrar */
.close-icon,
.close-button {
  cursor: pointer;
  font-size: 35px;
  font-weight: bold;
  margin: 10px;
  padding: 0;
  text-align: right;
  transition: color 0.6s ease;
  float: right;
}

/* Contenedor específico del botón de cerrar */
.close-button {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

/* Menú overlay */
#menuOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 200;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition:
    opacity 0.6s ease-in-out,
    visibility 0.6s ease-in-out;
}

/* Navbar debajo de los logos */
.navbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 200;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.6s ease;
}

/* Clase para ocultar elementos */
.hidden {
  display: none;
}
