/* Fondo blanco, agregar las imágenes, nada con sombras, que sea estática */
/* https://em-content.zobj.net/source/twitter/53/flag-for-mexico_1f1f2-1f1fd.png */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 2px solid #e0e0e0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.topbar div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

/* Left, center, and right logos */
.logo-left, .logo-center, .logo-right img {
    height: 100%; 
    max-height: 100%; 
}

.flag-container {
    position: absolute;
    left: 10px;
}

.center-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-container {
    position: absolute;
    right: 10px;
}
