.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 40px 20px;
  border-bottom: 2px solid #e0e0e0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: static; /* Changed to static */
  width: 100%;
  z-index: 10; /* Ensure it's above other elements */
}

.icon {
  height: 40px; /* Logo height */
}

.topbar div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-container {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url("https://em-content.zobj.net/source/twitter/53/flag-for-mexico_1f1f2-1f1fd.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.center-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-container {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* Adjust margin for content */
.content {
  margin-top: 80px; /* Adjusted margin for topbar height */
}
