/* Estilos generales (se aplican a todas las pantallas) */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.flag-container img {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.center-logo img {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.dropdown-container {
  width: 9vw;
}

@media (max-width: 600px) {
  .flag-container img {
    width: 9vw;
  }

  .center-logo img {
    width: 17.7vw;
  }

  .dropdown-container {
    width: 9vw;
  }
}

@media (min-width: 601px) {
  .flag-container img {
    width: 5vw;
  }

  .center-logo img {
    width: 7vw;
  }

  .dropdown-container {
    width: 3vw;
  }
}
