.stats-container {
  padding: 4.7vh 3.8vw;
  display: flex;
  flex-direction: column;
  background-color: var(--off-black); /* Fondo oscuro */
  gap: 4.73vh;
  color: #e6e6e6; /* Color de texto en modo claro */
  width: 100%;
  justify-content: space-around;
}

/* Estilos para las estadísticas */
.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-number {
  font-size: 38pt;
  font-weight: normal;
  text-align: center;
  width: 15.9vw;
  color: #e6e6e6; /* Color de número en modo claro */
}

.stat-label {
  font-size: 19pt;
  width: 55.641vw;
  color: #e6e6e6; /* Color de etiqueta en modo claro */
}
