---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/Topbar.astro';
import Securities from '../components/Securities.astro';
import Carousel from '../components/Carousel.astro';
import Text from '../components/Text.astro';
import Video from '../components/Video.astro';
import Placard from '../components/Placard.astro';
---

<Layout title="Welcome to Astro.">
	<style>
	  main {
		display: flex;
		flex-direction: column;
		gap: 50px; /* Espaciado de 50px entre componentes */
	  }
	</style>
  
	<main>
	  <Topbar/>
	  <Securities/>
	  <Text/>
	  <Carousel/>
	  <Video/>
	  <Text/>
	  <Placard/>
	</main>
  </Layout>

