---
import HomeMobile from "../layouts/Mobile/Home.astro";
import HomeDesktop from "../layouts/Desktop/Home.astro";
import "../styles/global.css";

import Carousel from "../components/Carousel.astro";
import HeadText from "../components/HeadText.astro";
import Video from "../components/Video.astro";
import ParagraphBody from "../components/ParagraphBody.astro";
import UnivesityData from "../components/UnivesityData.astro";
import News from "../components/News.astro";
import Button from "../components/Button.astro";
import "@fortawesome/fontawesome-svg-core/styles.css";
import { config } from "@fortawesome/fontawesome-svg-core";
import BottomLegals from "../components/BottomLegals.astro";
config.autoAddCss = false;
---

<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<div class="mobile">
  <HomeMobile title="Home | UTR">
    <main>
      <div class="b-100"></div>
      <HeadText
        firstLine="TO GROW"
        secondLine="YOU’VE FOUND THE PLACE THAT ALLOWS YOU"
        img="https://utr.edu.mx/pages/nosotros/imagenes_nosotros/students_utr.jpg"
      />
      <div style="display: flex; flex-direction: column; gap:16px">
        <ParagraphBody
          textColor="black"
          content="Universidad Tecnológica El Retoño is a new alternative for higher education. At UTR, we believe in your potential to transform, innovate, and thrive."
        />
        <ParagraphBody
          textColor="black"
          content="Our commitment to education empowers you to break boundaries, discover your passions, and create a future full of possibilities. Together, we grow, learn, and shape tomorrow."
        />
      </div>
      <Carousel />
      <Video />
      <ParagraphBody
        textColor="black"
        content="We empower students and businesses with immersive technologies to lead in Industry 4.0. Our state-of-the-art space provides virtual reality experiences, simulations, and cutting-edge tools like CAD, AI, and game development, preparing you to innovate boldly and succeed in the future."
      />

      <div class="borderblack">
        <Button
          label="EXPLORE OUR PROGRAMS"
          borderColor="black"
          style="font-size: 50px;"
        />
      </div>

      <UnivesityData />
      <HeadText
        firstLine="PROUD PARTNERS"
        secondLine="OUR"
        img="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
      />
      <Carousel />
      <HeadText
        firstLine="NEWS"
        img="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
      />
      <News />

      <div class="button-container">
        <div class="step">
          <p
            class="pre-button-text"
            style="color: #000000; margin: 30px 0 0 0;"
          >
            TAKE THE
          </p>
          <p
            class="pre-button-text"
            style="color: #ffffff; margin: 0 0 50px 0;"
          >
            NEXT STEP
          </p>
        </div>
        <div class="buttons">
          <Button label="REQUEST INFO" />
          <Button label="VISIT" />
          <Button label="APPLY NOW" />
        </div>
      </div>
      <BottomLegals />
    </main>
  </HomeMobile>
</div>

<div class="desktop">
  <HomeDesktop title="Home | UTR">
    <main>
      <div
        style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;"
      >
        <p style="font-family: 'Barlow', sans-serif; font-weight: 700;">
          Under construction
        </p>
      </div>
    </main>
  </HomeDesktop>
</div>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Espaciado de 50px entre componentes */
  }

  .pre-button-text {
    font-family: "Barlow", sans-serif;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    background-color: #e12030;
    padding: 20px;
    color: #e6e6e6;
    width: 100%; /* Adjust width */
    height: 64vh;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado de 30px entre los botones */
    align-items: center; /* Centra los botones horizontalmente */
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Espaciado de 50px entre los párrafos */
    align-items: center; /* Centra el contenido horizontalmente */
  }

  h2 {
    color: #ffffff; /* Asegurar que el h2 sea blanco */
  }
</style>
