---
import HomeMobile from "../layouts/Mobile/Home.astro";
import HomeDesktop from "../layouts/Desktop/Home.astro";
import "../styles/global.css";

import Carousel from "../components/Carousel.astro";
import HeadText from "../components/HeadText.astro";
import Video from "../components/Video.astro";
import UnivesityStats from "../components/UnivesityStats.astro";
import News from "../components/HomeNewsSection.astro";
import Button from "../components/Button.astro";
import "@fortawesome/fontawesome-svg-core/styles.css";
import { config } from "@fortawesome/fontawesome-svg-core";
config.autoAddCss = false;
---

<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<div class="mobile">
  <HomeMobile title="Home | UTR">
    <main>
      <div class="b-100"></div>
      <HeadText
        firstLine="TO GROW"
        secondLine="YOU’VE FOUND THE PLACE THAT ALLOWS YOU"
        img="https://utr.edu.mx/pages/nosotros/imagenes_nosotros/students_utr.jpg"
      />
      <p class="paragraph">
        Universidad Tecnológica El Retoño is a new alternative for higher
        education. At UTR, we believe in your potential to transform, innovate,
        and thrive.<br /><br />Our commitment to education empowers you to break
        boundaries, discover your passions, and create a future full of
        possibilities. Together, we grow, learn, and shape tomorrow.
      </p>
      <!-- <Carousel /> -->
      <Video />
      <p class="paragraph">
        We empower students and businesses with immersive technologies to lead
        in Industry 4.0. Our state-of-the-art space provides virtual reality
        experiences, simulations, and cutting-edge tools like CAD, AI, and game
        development, preparing you to innovate boldly and succeed in the future.
      </p>
      <Button
        label="EXPLORE OUR PROGRAMMES"
        borderColor="black"
        style="font-size: 50px;"
      />
      <UnivesityStats />
      <HeadText
        firstLine="PROUD PARTNERS"
        secondLine="OUR"
        img="https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      />
      <!-- <Carousel /> -->
      <HeadText
        firstLine="NEWS"
        img="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
      />
      <News />

      <div class="button-container">
        <div>
          <p class="pre-button-text" style="color: var(--off-black);">
            TAKE THE
          </p>
          <p class="pre-button-text">NEXT STEP<br /><br /></p>
        </div>
        <div class="button-list">
          <Button label="REQUEST INFO" color="white" />
          <Button label="VISIT" color="white" />
          <Button label="APPLY NOW" color="white" />
        </div>
      </div>
    </main>
  </HomeMobile>
</div>

<div class="desktop">
  <HomeDesktop title="Home | UTR">
    <main>
      <div
        style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;"
      >
        <p style="font-family: 'Barlow', sans-serif; font-weight: 700;">
          Under construction
        </p>
      </div>
    </main>
  </HomeDesktop>
</div>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Espaciado de 50px entre componentes */
  }

  .pre-button-text {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-size: 35pt;
    margin: 0;
    padding: 0;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    background-color: #e12030;
    padding: 8.3vh 5.1vw;
    color: #e6e6e6;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado de 30px entre los botones */
    align-items: center; /* Centra los botones horizontalmente */
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Espaciado de 50px entre los párrafos */
    align-items: center; /* Centra el contenido horizontalmente */
  }

  h2 {
    color: #ffffff; /* Asegurar que el h2 sea blanco */
  }
</style>
