---
import HomeMobile from "../layouts/Mobile/Home.astro";
import HomeDesktop from "../layouts/Desktop/Home.astro";
import "../styles/global.css";

import Slider from "../components/Slider.astro";
import HeadText from "../components/HeadText.astro";
import Video from "../components/Video.astro";
import UnivesityStats from "../components/UnivesityStats.astro";
import Button from "../components/Button.astro";
import { config } from "@fortawesome/fontawesome-svg-core";
config.autoAddCss = false;

import HomeNewsSection from "../components/HomeNewsSection.astro";
let news;
try {
  const response = await fetch("https://your-api-endpoint.com/news");
  if (response.ok) {
    const latestNews = await response.json();
    if (latestNews.length > 0) {
      news = latestNews;
    }
  } else {
    console.error(`Error: ${response.status} - ${response.statusText}`);
  }
} catch (error) {
  console.error("Fetch failed: ", error);
}
---

<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<div class="mobile">
  <HomeMobile title="Home | UTR">
    <main>
      <div class="b-100"></div>
      <HeadText
        firstLine="TO GROW"
        secondLine="YOU’VE FOUND THE PLACE THAT ALLOWS YOU"
        img="https://utr.edu.mx/pages/nosotros/imagenes_nosotros/students_utr.jpg"
      />
      <p class="paragraph">
        Universidad Tecnológica El Retoño is a new alternative for higher
        education. At UTR, we believe in your potential to transform, innovate,
        and thrive.<br /><br />Our commitment to education empowers you to break
        boundaries, discover your passions, and create a future full of
        possibilities. Together, we grow, learn, and shape tomorrow.
      </p>
      <Slider
        images={[
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home1.jpg?raw=true",
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home2.jpg?raw=true",
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home3.jpg?raw=true",
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home4.jpg?raw=true",
        ]}
        id="slider-0"
      />
      <Video />
      <p class="paragraph">
        We empower students and businesses with immersive technologies to lead
        in Industry 4.0. Our state-of-the-art space provides virtual reality
        experiences, simulations, and cutting-edge tools like CAD, AI, and game
        development, preparing you to innovate boldly and succeed in the future.
      </p>
      <Button
        label="EXPLORE OUR PROGRAMMES"
        color="var(--black)"
        style="font-size: 50px;"
      />
      <UnivesityStats />
      <HeadText
        firstLine="PROUD PARTNERS"
        secondLine="OUR"
        img="https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      />
      <Slider
        images={[
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_1.svg",
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/png/partner_2.png?raw=true",
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_3.svg",
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_4.svg",
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_5.svg",
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_6.svg",
        ]}
        id="slider-1"
      />
      <HeadText
        firstLine="NEWS"
        secondLine="LATEST"
        img="https://images.pexels.com/photos/1493226/pexels-photo-1493226.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      />
      <HomeNewsSection news={news} />

      <div class="button-container">
        <div>
          <p class="pre-button-text" style="color: var(--off-black);">
            TAKE THE
          </p>
          <p class="pre-button-text">NEXT STEP<br /><br /></p>
        </div>
        <div class="button-list">
          <Button label="REQUEST INFO" color="white" />
          <Button label="VISIT" color="white" />
          <Button label="APPLY NOW" color="white" />
        </div>
      </div>

      <div class="legal-img-cont">
        <a href="https://www.plataformadetransparencia.org.mx"
          ><img
            src="https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/bot_home_1.svg"
            alt="transparency"
          /></a
        >
        <a
          href="https://consultapublicamx.plataformadetransparencia.org.mx/vut-web/"
          ><img
            src="https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/bot_home_2.svg"
            alt="Public Consultation"
          /></a
        >
      </div>
      <div style="height: 0px; margin: 0px 0;"></div>
    </main>
  </HomeMobile>
</div>

<div class="desktop">
  <HomeDesktop title="Home | UTR">
    <main>
      <div class="b-100"></div>
      <div class="title-desktop">
        <HeadText
          firstLine="TO GROW"
          secondLine="YOU’VE FOUND THE PLACE THAT ALLOWS YOU"
        />
      </div>
      <Slider
        images={[
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home1.jpg?raw=true",
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home2.jpg?raw=true",
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home3.jpg?raw=true",
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home4.jpg?raw=true",
        ]}
        id="slider-0"
      />
      <div class="button-desktop">
        <Button label="Find out more" color="black" style="font-size: 50px;" />
        <Button label="Contact Us" color="black" style="font-size: 50px;" />
      </div>
      <div class="container-desktop">
        <p class="paragraph-desktop">
          Universidad Tecnologica El Retoño is a new alternative for higher
          education. At UTR, we believe in your potential to transform,
          innovate, and thrive.<br /><br />Our commitment to education empowers
          you to break boundaries, discover your passions, and create a future
          full of possibilities. Together, we grow, learn, and shape tomorrow.
        </p>
        <img
          class="image-desktop"
          src="https://utr.edu.mx/pages/nosotros/imagenes_nosotros/students_utr.jpg"
          alt="UTR Students"
        />
      </div>

      <div class="container-video">
        <div class="video-slider">
          <Video />
        </div>
        <div class="container-slider">
          <Slider
            images={[
              "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home1.jpg?raw=true",
              "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home2.jpg?raw=true",
              "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home3.jpg?raw=true",
              "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/home4.jpg?raw=true",
            ]}
            id="slider-0"
          />
        </div>
      </div>

      <p class="paragraph-desktop">
        We empower students and businesses with immersive technologies to lead
        in Industry 4.0. Our state-of-the-art space provides:
      </p>

      <p class="paragraph-mini">INNOVATE BOLDLY AND SUCCEED IN THE FUTURE</p>

      <Button
        label="EXPLORE OUR PROGRAMMES"
        color="black"
        style="font-size: 50px;"
      />
      <div class="legal-img-cont">
        <a href="https://www.plataformadetransparencia.org.mx"
          ><img
            src="https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/bot_home_1.jpeg?raw=true"
          /></a
        >
        <a
          href="https://consultapublicamx.plataformadetransparencia.org.mx/vut-web/"
          ><img
            src="https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/jpg/bot_home_2.jpeg?raw=true"
          /></a
        >
      </div>
      <UnivesityStats />
      <div style="display: flex; justify-content: center; align-items: center;">
        <HeadText firstLine="PROUD PARTNERS" secondLine="OUR" />
      </div>
      <Slider
        images={[
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_1.svg",
          "https://github.com/Technological-University-of-the-Bloom/Web-UTR/blob/main/src/img/png/partner_2.png?raw=true",
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_3.svg",
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_4.svg",
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_5.svg",
          "https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/partner_6.svg",
        ]}
        id="slider-1"
      />
      <div style="display: flex; justify-content: center; align-items: center;">
        <HeadText firstLine="NEWS" secondLine="LATEST" />
      </div>
      <HomeNewsSection news={news} />

      <div class="button-container">
        <div>
          <p class="pre-button-text" style="color: var(--off-black);">
            TAKE THE
          </p>
          <p class="pre-button-text">NEXT STEP<br /><br /></p>
        </div>
        <div class="button-list">
          <Button label="REQUEST INFO" color="white" />
          <Button label="VISIT" color="white" />
          <Button label="APPLY NOW" color="white" />
        </div>
      </div>

      <div style="height: 0px; margin: 0px 0;"></div>
    </main>
  </HomeDesktop>

  <style>
    main {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .pre-button-text {
      font-family: "Barlow", sans-serif;
      font-weight: 900;
      font-size: 35pt;
      margin: 0;
      padding: 0;
    }

    .button-container {
      display: flex;
      flex-direction: column;
      background-color: #e12030;
      padding: 8.3vh 5.1vw;
      color: #e6e6e6;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    .footer-info {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
    }
  </style>
</div>
