---
const { label, color } = Astro.props;
---

<div class="buttons">
  <button style={`border-color: ${color}; color: ${color};`}>
    <span class="button-text">{label}</span>
  </button>
  <!-- Puedes agregar más botones aquí como desees -->
</div>
