---
const { firstLine, secondLine } = Astro.props;
---

<div class="container">
  <h2>{firstLine}</h2>
  <h1>{secondLine}</h1>
</div>

<style>
  .container {
    display: "flex";
    flex-direction: column;
  }
  h2 {
  }
  h1 {
  }
</style>
