---
const { content, textColor, bgColor } = Astro.props;

let textHex;

if (textColor === "black") {
  textHex = "#000";
} else if (textColor === "red") { textHex = "#E12030"} else {
  textHex = "#E6E6E6"; // Provide a default value if needed
}
---

<html lang="es">
  <head>
    <style>
      @font-face {
        font-weight: normal;
        font-style: normal;
      }
      body {
        font-family: 'Futura Book', Arial, sans-serif;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="custom-text" style={`color: ${textHex};`}>
        {content}
    </div>
  </body>
</html>
