---
const { content, textColor, bgColor } = Astro.props;

let textClass;

if (textColor === "black") {
  textClass = "black-text";
} else {
  textClass = "default-text"; // Provide a default value if needed
}
---

<html lang="es">
  <head>
    <style>
      @font-face {
        font-weight: normal;
        font-style: normal;
      }

      body {
        font-family: 'Futura Book', Arial, sans-serif;
        font-size: 20px;
      }

      .custom-text {
        color: #333; /* Color del texto */
        line-height: 1.5; /* Espaciado entre líneas */
      }
    </style>
  </head>
  <body>
    <div class="custom-text">
        {content}
    </div>
  </body>
</html>
