---
const { content, textColor } = Astro.props;

let textHex;

// Determine the text color based on the provided textColor prop
if (textColor === "black") {
  textHex = "#000"; // Black color
} else if (textColor === "red") {
  textHex = "#E12030"; // Red color
} else {
  textHex = "#E6E6E6"; // Default color (light gray)
}
---

<p class="" style={`color: ${textHex};`}>
  {content}
</p>

<style>
  @font-face {
    font-family: "Futura Book";
    src: url("/path/to/futura-book.ttf") format("truetype"); /* Adjust the font path */
    font-weight: normal;
    font-style: normal;
  }
  p {
    font-family: "Futura Book", Arial, sans-serif;
    font-size: 20px;
    margin: 0px 16px 0px 16px;
    line-height: 20px;
  }
</style>
