---
---
<style>
    .rectangle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 349;
      height: 81px;
      padding: 0 20px; /* Ajusta el relleno lateral si es necesario */
      border: 2px solid black;
      border-radius: 0 0 0 20px; /* Curva solo en la esquina inferior izquierda */
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-size: 18px; /* Ajusta el tamaño de la fuente según tus necesidades */
    }
  </style>
  
  <div class="rectangle">
    EXPLORE OUR PROGRAMMES
  </div>
  
  