---

---

<html lang="es">
  <head>
    <style>
      @font-face {
        font-weight: normal;
        font-style: normal;
      }

      body {
        font-family: 'Futura Book', Arial, sans-serif;
        font-size: 20px;
      }

      .custom-text {
        color: #333; /* Color del texto */
        line-height: 1.5; /* Espaciado entre líneas */
      }
    </style>
  </head>
  <body>
    <div class="custom-text">
        Universidad Tecnológica El Retoño is a new alternative for higher education. At UTR, we believe in your potential to transform, innovate, and thrive.

        Our commitment to education empowers you to break boundaries, discover your passions, and create a future full of possibilities. Together, we grow, learn, and shape tomorrow.
    </div>
  </body>
</html>
