---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faAnglesDown } from "@fortawesome/free-solid-svg-icons";
import "../styles/Topbar.css";
---

<div class="topbar">
  <div class="flag-container">
    <a href="#">
      <img
        src="https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/Flag.svg"
        alt="Idioma"
      />
    </a>
  </div>

  <div class="center-logo">
    <a href="/">
      <img
        src="https://raw.githubusercontent.com/Technological-University-of-the-Bloom/Web-UTR/refs/heads/main/src/img/svg/256.svg"
        alt="Logo UTR"
      />
    </a>
  </div>

  <div class="dropdown-container">
    <a href="#">
      <FontAwesomeIcon
        icon={faAnglesDown}
        color="#07065D"
        style={{ width: "5.9vw", height: "auto" }}
      />
    </a>
  </div>
</div>
