---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faAnglesDown } from "@fortawesome/free-solid-svg-icons";
import "../styles/topbar.css";
---

<div class="topbar">
  <div class="flag-container">
    <a href="#">
      <img
        class="icon"
        src="https://em-content.zobj.net/source/twitter/53/flag-for-mexico_1f1f2-1f1fd.png"
        alt="Bandera de México"
      />
    </a>
  </div>

  <div class="center-logo">
    <a href="/home">
      <img src="src/img/svg/256.svg" alt="Logo UTR" />
    </a>
  </div>

  <div class="dropdown-container">
    <a href="/home">
      <FontAwesomeIcon icon={faAnglesDown} color="#07065D" />
    </a>
  </div>
</div>
