---

---

<style>
  .contenedor {
    display: flex;
    justify-content: space-between;
    border: 2px solid #000000; /* Color del borde */
    border-radius: 20px; /* Esquinas redondeadas */
    padding: 10px;
    background-color: #f8f8f8;
    max-width: 800px;
    margin: auto;
  }

  .imagen-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #000000; /* Color del borde interno */
    border-radius: 20px; /* Esquinas redondeadas internas */
    flex: 1;
    margin: 5px;
    text-align: center;
  }

  .imagen {
    max-width: 100%;
    height: auto;
    border-radius: 20px; /* Esquinas redondeadas para la imagen */
  }

</style>

<div class="contenedor">
  <div class="imagen-contenedor">
    <img src={https://utr.edu.mx/pages/nosotros/imagenes_nosotros/OP1.jpeg} alt="Imagen 1" class="imagen" />
  </div>
  
  <div class="imagen-contenedor">
    <img src={https://utr.edu.mx/pages/nosotros/imagenes_nosotros/OP4.jpeg} alt="Imagen 2" class="imagen" />
  </div>
</div>
