---
const stats = [
  { number: "13", label: "Undergrad majors" },
  { number: "800", label: "Current Students" },
  { number: "983", label: "Graduates" },
  { number: "13k+", label: "Students enrolled" },
  { number: "5+", label: "Countries for study" },
  { number: "#1", label: "Salary potential in Aguascalientes" },
  { number: "#1", label: "Largest VR Centre in Latam" },
];
---

<div class="stats-container">
  {
    stats.map((stat) => (
      <div class="stat">
        <span class="stat-number">{stat.number}</span>
        <span class="stat-label">{stat.label}</span>
      </div>
    ))
  }
</div>

<style>
  @font-face {
    font-family: "Futura Book";
    src: url("/futura/Futura\ Book\ font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  .stats-container {
    display: flex;
    flex-direction: column;
    background-color: #181818; /* Dark background */
    padding: 50px;
    color: #e6e6e6;
    width: 393px; /* Adjust width */
    height: 740px; /* Adjust height */
    justify-content: space-around; /* Ensure even spacing */
    font-family: "Futura Book", sans-serif; /* Use Futura Book font */
  }

  .stat {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente */
    padding: 10px 0;
    gap: 50px; /* Espacio entre número y etiqueta */
  }

  .stat-number {
    font-size: 50px;
    font-weight: normal; /* Remove bold */
    text-align: center; /* Centrar horizontalmente */
    width: 62px;
  }

  .stat-label {
    font-size: 80px;
    color: #e6e6e6; /* Slightly lighter color for text */

    width: 217px;
  }

  .stat + .stat {
    margin-top: 10px; /* Add space between stat blocks */
  }

  /* Responsive for mobile devices */
  @media (max-width: 768px) {
    .stats-container {
      width: 100%; /* Make it fit the screen */
      padding: 10px;
      box-sizing: border-box; /* Include padding in width calculation */
    }

    .stat-number {
      font-size: 50px;
    }

    .stat-label {
      font-size: 25px;
    }
  }
</style>
