---
const placeholderSrc = "https://www.youtube.com/embed/25S-qGeKBWU"; // URL del video de YouTube
---

<style>
  .placeholder-container {
    width: 100%;
    max-width: 420px; /* Ancho máximo del contenedor */
    height: 236px; /* Altura fija */
    overflow: hidden;
  }

  .placeholder {
    width: 100%;
    height: 100%;
    border: none; /* Quita el borde del iframe */
  }
</style>

<div class="placeholder-container">
  <iframe src={placeholderSrc} class="placeholder" allowfullscreen></iframe>
</div>
